@using Microsoft.AspNetCore.Identity
@using CollectionsApp.Models

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager


<ul class="navbar-nav">

    <li>
        <form class="d-flex ms-auto" asp-controller="Search" asp-action="Index" method="get">
            <input class="form-control me-2" type="text" name="searchTerm" placeholder="Search..." aria-label="Search" style="width: 300px;">
           
            <button class="btn btn-softblue" type="submit"><i class="fa-solid fa-magnifying-glass" style="margin-right:5px"></i>Search</button>
        </form>
    </li>

 
        @if (SignInManager.IsSignedIn(User))
        {


        <li class="nav-item dropdown move-left">
            <div class="btn-group">
                <button type="button" class="btn btn-softpink dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 16px;">
                    @User.Identity!.Name
                </button>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li>
                        <a class="dropdown-item" asp-action="Logout" asp-controller="User">
                            Logout
                        </a>
                    </li>
                </ul>
            </div>
        </li>

        }
       
 else
{
  
    <li class="nav-item">
        <a class="nav-link text-bold btn btn-softblue" style="font-size:18px; margin-right:5px" asp-area="" asp-controller="User" asp-action="Register">Register</a>
    </li>
    <li class="nav-item">
            <a class="nav-link text-bold btn btn-softblue" style="font-size:18px;margin-right:5px" asp-area="" asp-controller="User" asp-action="Login">Login</a>
    </li>
   
   
}

</ul>


