@using CollectionsApp.ViewModels;

@model ItemVM
@{
    ViewData["Title"] = "Create";
   
}

<body>
    <div class="row">
        <div class="col-md-4">
            <form id="newItemForm" method="post">
                <h2 class="form-floating mb-3" style="color:#132743">Create a new Item.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Name" class="form-control" aria-required="true" />
                    <label asp-for="Name">Name</label>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">

                    <input asp-for="Tags" class="form-control" aria-required="true" />
                    <label asp-for="Tags">Tags</label>
                    <span asp-validation-for="Tags" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <div class="custom-field">
                        @foreach (var item in Model.customs)
                        {
                            <div>
                                <label>@item.Key</label>
                                <input asp-for="@Model.customs[item.Key]" class="form-control custom-Value" maxlength="100" data-key="@item.Key" />
                               
                                <span asp-validation-for="@Model.customs[item.Key]" class="text-danger"></span>
                            </div>
                        }
                    </div>
                </div>

              
                <button id="NewItemForm" type="submit" class="btn btn-info">
                    <i class="fa-solid fa-plus" style="margin-right: 5px;"></i> Submit
                </button>
              
            </form>
        </div>

    </div>
</body>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />

  

    <script>
        const SubmitBtn = document.getElementById('newSubmit');

        SubmitBtn.addEventListener('click', function () {
            const formData = new FormData();
            const customs = document.querySelectorAll('.custom-field');
            customs.forEach(function (field) {
                console.log('Inside loop');
                const key = field.querySelector('.custom-Value').getAttribute('data-key');
                const value = field.querySelector('.custom-Value').value;
                console.log(Key: ${ key }, Value: ${ value });
                formData.append(customs[${ key }], ${ value });
            });

            formData.forEach((value, key) => {
                console.log(${ key }: ${ value });
            });
           
        });
    </script>
}

