@using CollectionsApp.ViewModels;

@model ItemVM
@{
    ViewData["Title"] = "Create";
   
}

<body>
    <div class="row">
        <div class="col-md-4">
            <form id="newItemForm" method="post">
                <h2 class="form-floating mb-3" style="color:#132743">Create a new Item.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Name" class="form-control" aria-required="true" />
                    <label asp-for="Name">Name</label>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">

                    <input asp-for="Tags" class="form-control" aria-required="true" />
                    <label asp-for="Tags">Tags</label>
                    <span asp-validation-for="Tags" class="text-danger"></span>
                </div>
              


                <!-- Form content -->
                @foreach (var customField in Model.customs)
                {
                    <div class="form-floating mb-3">
                        <input name="customs[@customField.Key]" class="form-control"  />
                        
                        <label>@customField.Key</label>
                    </div>
                }
                @using (Html.BeginForm("Create", "Item", FormMethod.Post))
{
                    foreach(var cf in Model.customs)
                    {
                       
                     <input type="text" name="customs[@cf.Key]" value="@Model.customs[@cf.Key]" />
                    }

                    <button type="submit">Submit</button>
}
            
                <!-- End of form content -->
                       
                           
                  
               

                <button id="newItemSubmit" type="submit" class="btn btn-softblue">Create</button>
            </form>
        </div>

    </div>
</body>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

